body{padding: 0; margin: 0; background: #ccc;}
header{background: #1b1b1b;}
.key_pad{width: 100%;height: 120px;background: dimgray;display: inline-flex; border-top: 3px solid #d20000;}
.key_group{width: 13.4771%;height: 100%;display: inline-flex;position: relative;}
.key_group:first-child{width:3.7736%; }
.key_group:last-child{width:1.8868%; }
.key_group div{border: 1px solid black; border-top:none; border-left: none;flex-grow:1 ;}
.key_group:last-child div:last-child{border-right: none;}
.key_white{background: white;height: 100%;}
.key_white:hover{background: red;}
.key_black{ background: black;height: 70%;width: 9%;position: absolute;}
.key_black:hover{ background: red;}
.key_black_1{left: 9.5%;}
.key_black_2{left: 24%;}
.key_black_3{left: 52.2%;}
.key_black_4{left: 66.6%;}
.key_black_5{left: 81%;}
.key_black_6{left: 29%;width: 36%;}
.key_highlight{background: red;}
.key_highlight_fix{background: red;}


.line_content{width: 400px; flex: 1;}
.line_group hr{margin:0px 0px; border: 2px solid #000000;cursor: pointer;}
.line_group hr:hover{border-color: red !important;}
.line_group div{height: 13px; width: 100%;cursor: pointer;}
.line_group div:hover{background: red;}
.line_highlight{border-color: red; background: red;}

.diao_panel{display: inline-flex; list-style: none; margin: 20px;padding: 0;}
.diao_panel li{margin-right: 8px; border:1px solid transparent; cursor: pointer; background: white; border-top-left-radius: 5px; border-bottom-right-radius: 5px;}
.diao_panel li:hover{border:1px solid #d20000;}
.diao_panel li img{display: block; height: 56px;}
.diao_panel li span{display: block; text-align: center;}
.diao_panel_active{background: #d20000 !important; color: white;box-shadow: 0 0 10px red;}

.footage_content {width: 100%; background: #1b1b1b; position: absolute; top: 710px; bottom: 0;}
.footage_content section:first-child {width: 100%;padding: 20px; display: flex; box-sizing: border-box;}
.footage_content section:last-child {text-align: center; border-top: 2px solid; padding-top:10px;}
.footage_content section div{position: relative; margin-right: 15px; border-top-left-radius: 5px; border-bottom-right-radius: 5px; cursor: pointer; background: url('imgs/yinfu.png'); background-size: cover; border: 2px solid #1b1b1b;width: 80px; height: 80px;}
.footage_content section div:hover{border-color: #d20000;}
.footage_content section p{width: 100%; margin: 0; position: absolute; bottom: 0;text-align: center; background: rgba(0, 0 , 0, 0.7);color: white;font-size: 13px;padding: 2px 0; border-bottom-right-radius: 3px;}
.footage_content section div div{width: 18px;height: 18px;background: black;border-radius: 50%;position: relative;top: -10px;right: -68px;color: white;text-align: center;font-size: 32px;line-height: 13px;border: 3px solid #d20000;}
.footage_content section div div:hover{background: #3e3e3e; transition: .3s;}
.footage_active{border-color: #d20000 !important; box-shadow: 0 0 10px 0px red;}

.center_content{display: flex; margin-top: 6px;}
.center_content section:first-child{flex: 1.5; display: flex; align-items: center;}
.center_content section h4{font-size: 80px;margin-left: auto; padding-right: 50px;}
.center_content section:last-child{flex: 1.5; display: flex;align-items: center;}
.create_button{width: 70px;height: 70px;border-style: solid;border-radius: 50%;border-color: #d20000;background: #1b1b1b;color: white;cursor: pointer; margin-left: 50px; outline: none;}
.create_button:hover{background: #3e3e3e; transition: .3s}
.clear_footage_button{background: black;outline: none;border: 2px solid #d20000;color: white;height: 33px;width: 158px;border-top-left-radius: 8px; border-bottom-right-radius: 8px; cursor: pointer;}
.clear_footage_button:hover{background: #3e3e3e; transition: .3s}